.additional-goods-item__heading {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  color: @light-black-1;
}

.additional-goods-item__feature,
.additional-goods-item__value {
  font-size: 14px;
  line-height: 14px;

  color: @light-black;
}
