.additional-goods {
  outline: 5px solid pink;
}

.additional-goods__heading {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  color: @black;
}

.additional-goods__list {
  padding: 0;
  list-style: none;
}
