.catalog-item {
  font-family: "Oswald", "Arial", sans-serif;
}

.catalog-item__heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: @black;
}

.catalog-item__feature,
.catalog-item__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-item__link-image {
  order: -1;
}

.catalog-item__make-order {
  order: 4;
}

.catalog-item-disappearing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item__make-order,
.catalog-item__show-all {
  width: 169px;
}
