.catalog-item {
  font-family: "Oswald", "Arial", sans-serif;
}

.catalog-item__link-heading {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: @black;
}

.catalog-item__feature,
.catalog-item__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
