.copyright__link {
  padding-top: 16px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  color: @light-black;
}

.copyright__logo-link {
  //.size(27px, 34px);

  display: block;
}

.copyright__logo-image {
  //  .size(27px, 34px);
  width: 40px;
  height: 50px;
}
