.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  color: @light-black;
}

.copyright__logo-link {
  .size(27px, 34px);

  display: block;
}

.copyright__logo-image {
  .size(27px, 34px); //никак не изменяется размер иконки
}
