.form-nutrition {
  .wrap();

  width: 280px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding-left: 40px;
    padding-top: 31px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-left: 0;
    padding-top: 31px;
  }
}
