.form__appeal-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__remark {
  font-size: 14px;
  line-height: 16px;

  color: @light-black;
}

.form {
  margin-bottom: 30px;
}
