.how-it-works {
  outline: 5px solid pink;
}

.how-it-works__heading {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: @black;
}

.how-it-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
