.how-it-works {
  .wrap();

  width: 280px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding-top: 12px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-bottom: 23px;
  }
}

.how-it-works__heading {
  margin: 0;
  margin-bottom: 28px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;

    margin-bottom: 70px;
  }
}

.how-it-works__list {
  .list-reset ();
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 228px;
  }
}

.how-it-works__item {
  width: 200px;
  margin-bottom: 26px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    flex-basis: 324px;
    min-height: 228px;
    margin-right: 60px;
    margin-bottom: 89px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-last-of-type(-n+2) {
      margin-bottom: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-basis: 245px;
    height: 228px;
    margin-right: 80px;
    margin-bottom: 0;

    &:nth-of-type(2) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
