.location {
  .wrap();

  position: relative;

  width: 320px;

  font-family: "Oswald", "Arial", sans-serif;

  color: @black;
  background-color: @gray;

  &--page-main .location__wrapper {
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1300px;
  }
}

.location__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: -76px;
  z-index: 2;

  min-height: 114px;
  padding: 0 20px;
  padding-left: 19px;
  padding-top: 1px;

  background-color: @gray;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 71px;
    padding-top: 3px;
    min-height: 201px;

    top: -197px;
  }

  @media (min-width: @desktop-width) {
    .size(570px; 201px);

    padding: 0 76px;
    padding-top: 4px;
    padding-right: 89px;
    position: absolute;
    top: 96px;
    left: 40px;

    background-color: @white;
  }
}

.location__appeal-text {
  display: block;

  width: 125px;
  margin-right: 17px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 155px;

    font-size: 20px;
    line-height: 25px;
  }
}

.location__address {
  width: 139px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: @light-black;

  @media (min-width: @tablet-width) {
    width: 155px;
    margin-bottom: -5px;

    font-size: 16px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.location__map-image {
  .wrap();

  position: absolute;
  display: block;
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    .size(768px, 400px);
  }

  @media (min-width: @desktop-width) {
    .size(1300px, 400px);
  }
}

@media (min-width: @tablet-width) {
  .location__address span {
    line-height: 60px;
  }
}

.location__map-image-iframe {
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    .size(768px, 397px);
  }

  @media (min-width: @desktop-width) {
    .size(1300px, 397px);
  }
}
