.location {
  outline: 5px solid pink;

  font-family: "Oswald", "Arial", sans-serif;

  color: @black;
  background-color: @gray;

  &--page-main {
    background-color: @white;
  }
}

.location__appeal-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.location__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: @light-black;
}
