.marketing-move {
  width: 280px;
  min-height: 289px;
  margin-top: 39px;
  margin-bottom: 111px;
  padding-top: 171px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: @white;
  background-color: @green-1;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: repeat-y;
  background-position: 50% 0;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 100%;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;

    width: 708px;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 273px;
    padding-top: 56px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 289px;
    margin-top: -1px;
    padding-top: 171px;
    margin-bottom: 75px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 100%;
    }
  }
}

.marketing-move__image {
  .wrap();

  display: block;
}

.marketing-move__appeal-text {
  .wrap();

  width: 166px;
  text-align: center;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: -122px;
    left: 56px;

    width: 55px;
    height: 60px;

    background: url("../img/icon-gift.svg") no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 169px;
    margin-right: 116px;
    text-align: left;

    &::before {
      top: -7px;
      left: -332px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 186px;
    margin-right: 30px;
    text-align: center;

    &::before {
      top: -122px;
      left: 67px;
    }
  }
}

.marketing-move__appeal-text br {
  @media (min-width: @desktop-width) {
    visibility: hidden;
  }
}
