.owner-info {
  padding-left: 19px;
  margin-bottom: 14px;

  //position: relative;

  border: none;
  /*
  &::after {
    content: "";
    z-index: -1;

    //width: 99px;
    width: 100%;
    height: 3px;

    position: absolute;
    top: 14px;
    left: 0;

    background-color: @green;
  }*/

  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 47px;
  }
}

.owner-info__wrapper-1 {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1220px;
  }
}

.owner-info__wrapper-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin-bottom: 14px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 20px;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.owner-info__heading {
  width: 190px;
  //width: 221px;
  margin: 0;
  margin-bottom: 34px;
  /*padding-left: 19px;
  padding-right: 21px;
  margin-left: -19px;*/

  position: relative;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  user-select: none;

  color: @light-black-1;
  background-color: @white;
  /*
  &::after {
    content: "";

    //width: 99px;
    //width: 1000px;
    //width: 2000px;
    height: 3px;
    z-index: -1;

    position: absolute;
    top: 14px;

    //left: 202px;
    left: -1000px;
    right: auto;

    background-color: @green;
  }*/

  &::after {
    content: "";
    z-index: -1;

    width: 99px;
    height: 3px;

    position: absolute;
    top: 14px;
    //right: -111px;
    left: 202px;

    background-color: @green;
  }

  @media (min-width: @tablet-width) {
    width: 513px;
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 145px;
      top: 22px;
      //right: -186px;
      left: 553px;
    }

    &::before {
      content: "";
      z-index: -1;

      width: 30px;
      height: 3px;

      position: absolute;
      top: 22px;
      //left: -70px;
      right: 553px;

      background-color: @green;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 80px;
      //width: 50vw;

      top: 22px;
      left: -120px;
      //left:auto;
      //right: 200px;
    }

    &::after {
      width: 777px;
      top: 22px;
      right: -186px;
    }
  }
}

.owner-info__label {
  display: inline-block;
  vertical-align: middle;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  user-select: none;

  color: @light-black-1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -2px;
  }
}

.owner-info__input {
  .btn-height();

  width: 219px;
  padding-left: 15px;
  padding-right: 49px;
  padding-bottom: 2px;

  border: 1px solid @light-gray;

  @media (min-width: @tablet-width) {
    .btn-height(52px);

    width: 551px;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
    padding-left: 19px;
  }
}

.owner-info__wrapper-2:nth-of-type(2) .owner-info__input {
  width: 204px;

  @media (min-width: @tablet-width) {
    width: 535px;
  }

  @media (min-width: @desktop-width) {
    width: 472px;
  }
}

.owner-info__input,
.owner-info__input::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: @light-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}


.owner-info__email-logo {
  .size(17px, 13px);

  position: absolute;
  top: 16px;
  right: 36px;

  @media (min-width: @tablet-width) {
    top: 20px;
    right: 18px;
  }

  @media (min-width: @desktop-width) {
    right: 20px;
  }
}

.owner-info__phone-logo {
  .size(20px, 20px);

  position: absolute;
  top: 13px;
  right: 33px;

  @media (min-width: @tablet-width) {
    top: 17px;
    right: 15px;
  }

  @media (min-width: @desktop-width) {
    right: 19px;
  }
}
/*
.owner-info__input:invalid ~ svg {
  fill: @error-color;
}
*/
.owner-info__input:focus ~ svg {
  fill: @green;
}
