.owner-info__heading {
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  color: @light-black-1;
}

.owner-info__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: @light-black-1;
}

.owner-info__input,
.owner-info__input::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: @light-black;
}
