.page-footer {
  .wrap();

  width: 320px;

  background-color: @gray;

  @media (min-width: @tablet-width) {
    .size(768px, 150px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    padding-right: 23px;
    padding-left: 29px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;

    padding-left: 38px;
    padding-right: 34px;
  }
}

.page-footer__logo {
  .size(320px, 94px);

  display: flex;
  justify-content: space-around;

  padding-top: 7px;

  &:hover:not(.page-footer__logo--main-page) {
    opacity: 0.8;
  }

  &:active:not(.page-footer__logo--main-page) {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    width: 132px;
    padding-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 3px;
  }
}

.page-footer__social {
  height: 62px;
  padding: 0 20px;
  padding-left: 21px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-left: 11px;
    padding: 0;
    padding-top: 1px;
    width: 130px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
    padding-left: 26px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  height: 78px;
  padding: 0 20px;
  padding-right: 14px;

  @media (min-width: @tablet-width) {
    width: 169px;

    padding: 0;
    padding-top: 14px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 14px;
  }
}
