.site-list {
  .list-reset ();
  margin-left: auto;
  margin-right: auto;
}

.site-list__item {
  height: 66px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  user-select: none;

  border-bottom: 1px solid @light-gray;

  &:last-of-type a {
    padding-bottom: 4px;
  }

  &:hover:not(.site-list__item--active) {
    opacity: 0.6;
  }

  &:active:not(.site-list__item--active) {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    height: 111px;

    border: none;

    &--active {
      height: 40px;
      border-bottom: 2px solid @green;
    }

    &:last-of-type a {
      padding-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    height: 105px;

    border: none;

    &--active {
      height: 105px;
      border-bottom: 2px solid @green;
    }

    &-main {
      border-color: @white;
    }
  }
}

.site-list__item a {
  display: block;
  height: 66px;
  padding-top: 23px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;

  color: @black;

  @media (min-width: @tablet-width) {
    height: 111px;
    padding-top: 44px;

    font-size: 18px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    height: 30px;
    padding-top: 69px;
    box-sizing: content-box;

    font-size: 20px;
  }
}

.site-list__item-main a {
  @media (min-width: @desktop-width) {
    color: @white;
  }
}
