.slider-cat {
  .wrap();

  width: 320px;
  margin-left: -20px;

  position: relative;

  background-color: @gray;

  @media (min-width: @tablet-width) {
    .wrap();

    width: 768px;
    height: 462px;
    padding-top: 347px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 140px;
    width: 610px;
    padding-top: 347px;

    background-color: transparent;
  }
}

.slider-cat__image {
  .wrap();
  .size(320px, 240px);

  display: block;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    .size(690px; 517px);

    position: absolute;
    top: -169px;
    left: 46px;
  }

  @media (min-width: @desktop-width) {
    .size(690px, 517px);

    max-width: 690px;
    position: absolute;
    top: -190px;
    left: -40px;
    order: 1;
  }
}

.slider-cat__toggles {
  display: flex;
  justify-content: space-between;

  padding-left: 63px;
  padding-right: 58px;

  @media (min-width: @tablet-width) {
    padding: 0 99px;
    margin-top: 19px;

    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-right: -6px;
    padding-left: 40px;
    padding-right: 6px;
  }
}

.slider-cat__toggle-before,
.slider-cat__toggle-after {
  padding: 0;
  padding-top: 1px;
  padding-bottom: 6px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background: none;
  border: none;
  outline: none;
  /*
  &:active {
    transform: scale(0.8);
  }*/

  @media (min-width: @tablet-width) {
    font-size: 20px;

    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border: none;
    }
  }
}
