.slider-cat {
  .wrap();

  width: 320px;
  margin-left: -20px;

  position: relative;

  background-color: @gray;

  @media (min-width: @tablet-width) {
    .wrap();

    width: 768px;
    height: 462px;
    padding-top: 347px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 140px;
    width: 610px;
    padding-top: 347px;

    background-color: transparent;
  }
}

.slider-cat__image {
  .wrap();
  .size(320px, 240px);

  display: block;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    .size(690px; 517px);

    position: absolute;
    top: -169px;
    left: 46px;
  }

  @media (min-width: @desktop-width) {
    .size(690px, 517px);

    max-width: 690px;
    position: absolute;
    top: -190px;
    left: -40px;
    order: 1;
  }
}

.slider-cat__toggles {
  display: flex;
  justify-content: space-between;

  position: relative;

  padding-left: 63px;
  padding-right: 58px;

  &::before {
    .size(84px, 14px);

    content: "";

    position: absolute;
    z-index: 1;
    top: 3px;
    left: 120px;

    background-color: @white;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
  }

  &::after {
    .size(35px, 6px);

    content: "";

    position: absolute;
    z-index: 2;
    top: 7px;
    left: 125px;

    background-color: @green;
    border-radius: 6px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 99px;
    margin-top: 19px;

    justify-content: space-between;

    &::before {
      .size(428px, 6px);

      top: 9px;
      left: 170px;

      background-color: #dcdcdc;
      border-radius: 2.5px;
      border-color: #dcdcdc;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: -6px;
    padding-left: 40px;
    padding-right: 6px;

    &::before {
      left: 110px;
    }
  }
}

.slider-cat__toggle-before,
.slider-cat__toggle-after {
  padding: 0;
  padding-top: 1px;
  padding-bottom: 6px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    transform: scale(0.8);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;

    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      transform: none;
      border: none;
    }
  }
}

.slider-cat__toggle-middle {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 34px;
    height: 34px;

    position: absolute;
    z-index: 2;
    top: -5px;
    left: 368px;

    background-color: @white;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    /*
    display: block;
    width: 33px;
    height: 33px;
    padding: 0;

    position: absolute;
    z-index: 2;
    top: -4px;
    left: 368px;

    background-color: @green;
    border: 12px solid @white;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    */
  }

  @media (min-width: @desktop-width) {
    left: 308px;
    cursor: pointer;
    outline: none;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.slider-cat__toggle-middle-inside {
  width: 8px;
  height: 8px;

  position: absolute;
  left: 12px;
  top: 12px;

  background-color: @green;
  border-radius: 50%;
}
